<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Getting Started: Serving Web Content</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<script type="text/javascript">
function tisk(file) {

// Open the window
const pdfWindow = window.open(file);

// Call print on it
pdfWindow.print();
}
</script>
</head>
<body>
	<h1>Files</h1>
	<table>
		<thead>
			<tr>
				<th>Selection</th>
				<th>File</th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="file, iStat: ${files}">
				<td th:text="${iStat.index}"/>
				<td th:text="${file}"/>
				<td><button onclick="tisk('http://localhost:8080/filesToPrint/1')"></button></td>
			</tr>
		</tbody>
	</table>
</body>
</html>